.panda-bg-info{
  background-color:#fceaaa ;
}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    background-color: tomato;
    color:white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}